@font-face {
    font-family: 'custom-font';
    src: url(../fuentes/Bamboo_Regular.ttf) format("truetype");
}
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #121212;
    color: #f5f5f5;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    padding: 15px 30px;
    border-bottom: 3px solid #FFD700;
    background-color: #000;
}
header .titulo {
    flex: 1;
}
header .titulo h1 {
    margin: 0;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}
header nav ul, 
header .log_in_sign_up ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
header nav a, 
header .log_in_sign_up a {
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 8px;
}
