/* Fuente */
@font-face {
        font-family: 'custom-font';
        src: url(../fuentes/Bamboo_Regular.ttf) format("truetype");
}
/* Modificación Body  */
body {
    background-color: #121212;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* modificando header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px 30px;
    border-bottom: 3px solid #FFD700;
    flex-wrap: wrap;
    font-family: 'custom-font';
}
/* modificando titulo */
header .titulo {
    flex: 1;
    text-align: center;
}

header .titulo h1 {
    margin: 0;
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.7);
}
/* modificando nav del header */
header nav ul, 
header .log_in_sign_up ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

header nav a, 
header .log_in_sign_up a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 8px;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.7);
}

/* titulos secciones */
h2, h3 {
    text-align: center;
    color: #FFD700;
    margin-bottom: 25px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-shadow: 1px 1px 5px rgba(255, 215, 0, 0.4);
}

h2 {
    font-size: 1.8rem;
}
/* Main y bienvenida */
main {
    padding: 30px;
}

.bienvenida {
    background-color: #1c1c1c;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px;
}

.bienvenida p {
    font-size: 1rem;
    color: #ddd;
}
